In [66]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dhamvi01/Univariate-Time-Series-using-LSTM/master/airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [64]:
# df_data=df.rename(columns=({'Month':'t', 'Passengers':'xt'}))

In [65]:
# import numpy as np
# # from pandas import DataFrame
# #  = df.DataFrame()
# df_data['t'] = [x for x in range(144)]
# df_data['xt'] = df_data['t'].shift(1)
# # print(df_data)
# np.nan_to_num(df_data)
# df_data

In [85]:
# x = df['Month']
passengers = df['Passengers'].values
# x
passengers

array([112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115,
       126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150,
       178, 163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193,
       181, 183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235,
       229, 243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234,
       264, 302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315,
       364, 347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413,
       405, 355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467,
       404, 347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404,
       359, 310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407,
       362, 405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390,
       432])

In [87]:
from numpy import array
# split a univariate Month into samples
def split_sequence(Month, Passengers):
  X, y = list(), list()
  for i in range(len(Month)):
    # find the end of this pattern
    end_ix = i + Passengers
    # check if we are beyond the Month
    if end_ix > len(Month)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = Month[i:end_ix], Month[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)
# split_sequence(df['Month'],df['Passengers'])

# define univariate time series
series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
# print(series.shape)
# transform to a supervised learning problem
X, y = split_sequence(passengers, 2)
# print(X.shape, y.shape)
shapeX = X.shape

dfX = pd.DataFrame(X, columns=["Xt-2","Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

data = pd.concat((dfX, dfy), axis = 1)
data

     Xt-2  Xt-1   Xt
0     112   118  132
1     118   132  129
2     132   129  121
3     129   121  135
4     121   135  148
..    ...   ...  ...
137   535   622  606
138   622   606  508
139   606   508  461
140   508   461  390
141   461   390  432

[142 rows x 3 columns]

In [94]:
# for i in range(shapeX[1]):

In [89]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaled = scaler.fit_transform(data)
features_names = data.columns.copy()
#features_names.remove('label')
scaled_features = pd.DataFrame(scaled, columns=features_names)
scaled_features

         Xt-2      Xt-1        Xt
0    0.015444  0.027027  0.054054
1    0.027027  0.054054  0.048263
2    0.054054  0.048263  0.032819
3    0.048263  0.032819  0.059846
4    0.032819  0.059846  0.084942
..        ...       ...       ...
137  0.832046  1.000000  0.969112
138  1.000000  0.969112  0.779923
139  0.969112  0.779923  0.689189
140  0.779923  0.689189  0.552124
141  0.689189  0.552124  0.633205

[142 rows x 3 columns]

In [92]:
dataX = data.drop(columns=['Xt'])
dataX

     Xt-2  Xt-1
0     112   118
1     118   132
2     132   129
3     129   121
4     121   135
..    ...   ...
137   535   622
138   622   606
139   606   508
140   508   461
141   461   390

[142 rows x 2 columns]

In [93]:
dataY = data['Xt'].values
dataY

array([132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115, 126, 141,
       135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150, 178, 163,
       172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193, 181, 183,
       218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235, 229, 243,
       264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234, 264, 302,
       293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315, 364, 347,
       312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413, 405, 355,
       306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467, 404, 347,
       305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404, 359, 310,
       337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407, 362, 405,
       417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390, 432])

In [96]:
from sklearn.model_selection import train_test_split

In [95]:
X_train, y_train, x_test, y_test=s

NameError: ignored